{{#partial "content"}}
    {{#if squads}}
        {{#each squads}}
            <h5>Squad name is: <i>{{name}}</i></h5>
            <p>Cause is: {{cause}}</p>
            <button class="btn btn-info"><a href="squads/{{id}}/new-hero">Add a Hero to {{name}}</a></button>
            <button class="btn btn-primary"><a href="squads/{{id}}"> Check {{name}} Heroes</a></button>

        {{/each}}
    {{else}}
        No Squads created yet!!
    {{/if}}
    <h4><a href="/squads-form">Add a new Squad</a></h4>
{{/partial}}
{{> layout.hbs}}